# Env vars used for wrangler cli; for Worker and Durable Objects Env Vars use .dev.vars and .prod.vars files

# https://developers.cloudflare.com/workers/wrangler/system-environment-variables/
CLOUDFLARE_ACCOUNT_ID=""

# Create via "Edit Cloudflare Workers" template + Account:D1:edit
CLOUDFLARE_API_TOKEN=""
WRANGLER_SEND_METRICS=false
